.sidebar {
  background-color: rgb(247, 255, 210);
  width: 200px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ul > li {
  list-style-type: none;
  flex: 1;
}

ul li a {
  text-decoration: none;
}

li > a {
  color: #2b2b2b;
}

li > a:hover {
  color: #2b2bb2;
  transition: all 0.3s;
}

.sidebar .user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

img {
  width: 50px;
  height: 50px;
}